.background-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: -25vh;
    z-index: -1;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}

.banner-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: -40vh;
    z-index: -1;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}